@import 'sass/header';
@import 'sass/footer';
@import 'sass/products';
@import 'sass/navigation';
@import 'sass/slideshow';
@import 'sass/contacts';

@font-face {
  font-family: "Shamber";
  src: url(./fonts/Shamber.ttf) format('truetype');
}
  
  //sub titles
  h2 {
    text-align: center;
    font-size: 26px;
    letter-spacing: .8px;
}
